body {
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  .snake-path {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: start;
    justify-items: center;
    height: 10vh;
  }
  
  .snake-path a:nth-child(4n-2),
  .snake-path a:nth-child(4n-3) {
    margin-top: 100px;
  }
  
  .snake-path img {
    width: 100px;
    height: 100px;
  }